html {
    background-color: #c0c0c0;
}

body {
    margin: 25px 100px 25px 100px;
}

footer {
    background-color: black;
    color: white;
}

h1, h2, h3 {
    font-family: 'Fontdiner Swanky', Arial, sans-serif;
}


/* CAROUSEL */
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    min-height: 200px;
    max-height: 500px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}


/* GALLERY PAGE*/
.thumbnailTitle {
    text-align: center;
}


/* ABOUT PAGE */
.aboutContainer {
}

/* SHOP */
.aside-content-block {
    width: 880px;
    height: 768px;
    background-color: #FFDB5C;
    padding: 79px 44px 12px 44px;
}

.main-content-products {
    text-align: left;
}

.hero-product {
    float: left;
    margin-top: 52px;
}

.product-article {
    text-align: center;
}

    .product-article h2 {
        font-size: 1.25em;
        color: #FA6E59;
        font-family: 'Fontdiner Swanky', arial, sans-serif;
        src: url('https://fonts.googleapis.com');
    }

    .product-article p {
        padding: 0px 16px 0px 16px;
        font-family: 'Fontdiner Swanky', arial, sans-serif;
        color: #000;
    }

.comicImgs {
    border-bottom: 2.4px solid #F8A055;
}

.lmore-sml {
    text-decoration: none;
    text-transform: uppercase;
    color: #4897D8;
    background-color: transparent;
    width: 138px;
    height: 23px;
    padding-top: 7px;
    border-radius: 15px;
    border: 2px solid #4897D8;
    display: inline-block;
    font-size: .75em;
    font-weight: bold;
    font-family: 'Fontdiner Swanky', arial, sans-serif;
}

.indent-1 {
    float: left;
}

    .indent-1 section {
        width: 50%;
        float: left;
    }
