html
{
	background-color: grey;
}

body
{
	margin: 25px 100px 25px 100px;
}

footer
{
	background-color: black;
	color: white;
}






/* CAROUSEL */


.carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 200px;
	  max-height: 500px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none;
      }
    }
	

/* GALLERY PAGE*/	
.thumbnailTitle
	{
		text-align: center;
	}
	
	
/* ABOUT PAGE */
.aboutContainer
{
	
}










