<!DoCTYPE html>
<html lang="en">
<head>
    <title>bootstrap banner carousel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../CSS/comicRoyale.css">
    <!-- Custom styles for this template -->
    <link href="custom.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">
</head>


<body>
    <!--using bootstrap/ doesn't work well with internet explorer 9 and earlier-->
    <div id="bannerCarousel" class="carousel slide" data-ride="carousel">
        <!--class caoursel specifies this div has a carousel, slide adds a CSS transition effect which makes the new item slide(can be omitted)--><!--data-ride carousel tells bootstrap to begin animation of carousel when page loads-->
        <!-- Indicators (little dots on the bottom of carousel indicating how many slides are in the carousel and which slide the user is viewing, user can click to transition) -->
        <ol class="carousel-indicators">
            <!--ordered list for indicators-->
            <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li> <!--data-target points to id of carousel--><!--data-slide-to specifies which slide when clicking on the dot, clicking first dot goes to array 0, dot 2 goes to array 2-->
            <li data-target="#bannerCarousel" data-slide-to="1"></li>
            <li data-target="#bannerCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!--item can be text or images--><!--active must be on one of the slides or carousel will not show up-->
            <!-- using images but resizing it is a hassle <img src="../Images/banner.png" alt="Index Banner">  <../  making it up one folder-->
            <div style="background:url(../Images/banner.png) center center; background-size:cover;" class="slider-size"><!--changing to background instead of img tag so that resizing is less of a hassle--> 
                <div class="carousel-caption">
                	Comic Royale!
                </div>
            </div>
        </div>

        <div class="item">
            <div style="background:url(../Images/marvelCarousel.jpg) center center; background-size:cover;" class="slider-size"><!--changing to background instead of img tag so that resizing is less of a hassle--> 
               	<div class="carousel-caption">
                	Marvel Heroes
                </div>
            </div>
        </div>

        <div class="item">
            <div style="background:url(../Images/dcBanner.jpg) center center; background-size:cover;" class="slider-size"><!--changing to background instead of img tag so that resizing is less of a hassle--> 
                <div class="carousel-caption">
                	DC Heroes
                </div>
            </div>
        </div>
    </div>

    <!-- arrows on banner carousel -->
    <a class="left carousel-control" href="javascript:void(0)" data-slide="prev" data-target="#bannerCarousel"> <!--'class left carousel-control' puts the arrows within the images--> 
        <!--clicking on left arrow goes to previous slide-->
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="javascript:void(0)" data-slide="next" data-target="#bannerCarousel">
    	<!--'class right carousel-control' puts the arrows within the images--> 
        <!--clicking on right arrow goes to next slide-->
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
	</div>
     <!-- Bootstrap core JavaScript-->
    <!-- Placed at the end of the document so the pages load faster -->
 	</body>
 </html>