<!DOCTYPE html>
<head>
    <title>CR Gallery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="comicRoyale.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>




    <div class="container">
        <h1>COMIC ROYALE GALLERY</h1>
        <div class="row">
            <div class="col-md-4">
                <a href="../Images/wolverine.jpg" class="thumbnail">
                    <!-- change href to Shopping Cart Comic Review page -->
                    <h2 class="thumbnailTitle">WOLVERINE</h2>
                    <img src="../images/wolverine.jpg" alt="Wolverine" style="width:150;height:150">
                </a>
            </div>
            <div class="col-md-4">
                <a href="../Images/starWars.jpg" class="thumbnail">
                    <!-- change href to Shopping Cart Comic Review page -->
                    <h2 class="thumbnailTitle">STAR WARS</h2>
                    <img src="../Images/starWars.jpg" alt="Star Wars" style="width:150px;height:150px">
                </a>
            </div>
            <div class="col-md-4">
                <a href="../Images/archie.jpg" class="thumbnail">
                    <!-- change href to Shopping Cart Comic Review page -->
                    <h2 class="thumbnailTitle">ARCHIE</h2>
                    <img src="../Images/archie.jpg" alt="Archie" style="width:150px;height:150px">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <a href="../Images/madMagazine.jpg" class="thumbnail">
                    <!-- change href to Shopping Cart Comic Review page -->
                    <h2 class="thumbnailTitle">MAD</h2>
                    <img src="../Images/madMagazine.jpg" alt="Mad Magazine" style="width:150;height:150">
                </a>
            </div>
            <div class="col-md-4">
                <a href="../Images/marvel.jpg" class="thumbnail">
                    <!-- change href to Shopping Cart Comic Review page -->
                    <h2 class="thumbnailTitle">MARVEL</h2>
                    <img src="../Images/marvel.jpg" alt="Marvel Comics" style="width:150px;height:150px">
                </a>
            </div>
            <div class="col-md-4">
                <a href="../Images/captainAmerica.jpg" class="thumbnail">
                    <!-- change href to Shopping Cart Comic Review page -->
                    <h2 class="thumbnailTitle">CAPTAIN AMERICA</h2>
                    <img src="../Images/captainAmerica.jpg" alt="Captain America" style="width:150px;height:150px">
                </a>
            </div>
        </div>

    </div>








</body>
</html>
